*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kantumruy Pro", "Mona Sans", serif;
    font-size: 1rem;
}
.container-fluid{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
/* menu */
.menu-side{
    position: relative;
    /* display: flex; */
    height: 100vh;
    width: 55px;
    background-color: #2E64FE;
    padding: 5px 10px 0px 10px;
    margin: 0;
    overflow: hidden;
    transition: all 0.5s;
    z-index: 999;
}
.menu-side .profile-logo{
    display: flex;
    justify-content: start;
    align-items: start;
    text-align: start;
    width: 180px;
    height: 30px;
    margin: 20px 0px 20px 0px;
    
}
.menu-side .profile-logo p{
    font-size: 0.95rem;
    margin: 5px 0px 0px 5px;
    color: #ffff;
    font-family: Anton ,serif;
}
.menu-side .profile-logo .sru img{
    width: 33px;
    height: 100%;
    margin-right: 7px;
    cursor: pointer;
}
.menu-side .toggle-menu input{
    display: none;
}
.menu-side nav {
    width: 100%;
}
.menu-side nav ul li{
    position: relative;
    list-style: none;
    margin: 15px 0px 10px 0px;
    border-radius: 3px;
    transition: all 0.5s;
    width: 100%;
    cursor: pointer;
}
/* .menu-side nav ul li:hover{
    background-color: #4B088A;
} */
.menu-side nav ul li a{
    position: relative;
    display: flex;
    align-items: center;
    text-decoration: none;
    height: 33px;
    color: #ffff;
    font-size: 1rem;
    width: 100%;
    margin-left: 45px;
}
.menu-side nav ul li i{
    position: absolute;
    display: flex;
    left: 0;
    top: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 33px;
    height: 33px;
    font-size: 1.2rem;
    border-radius: 3px;
    margin-right: 10px;
    transition: all .5s;
    color: #ffff;
}
.menu-side nav ul li i:hover{
    background-color: #decdee58;
}
.menu-side nav ul li:first-child i{
    background-color: #decdee58;
}
.menu-side .btnlogout{
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: start;
    align-items: center;
    text-align: center;
    width: 180px;
    height: 33px;
    border-radius: 3px;
    /* background-color: aliceblue; */
    color: #ffff;
    cursor: pointer;
    transition: all 0.5s;
    overflow: hidden;
}
.menu-side .btnlogout i{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 33px;
    height: 33px;
    background-color: #decdee58;
    border-radius: 3px;
    margin-right: 10px;
    font-size: 1.2rem;
}
@media screen and (max-width: 995px) {
    .menu-side .profile-logo p{
        font-size: 1rem;
        margin-top: -5px;
    }
}
/* .menu-side .btnlogout:hover{
    background-color: #4B088A;
} */
/* end menu */
/* info side */
.info-side{
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100%;
    height: 100vh;
    background-color: #e7ebf2;
}
.topbar-info{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: auto;
    background-color: #ffff;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.25);
}
.info-side .topbar-info .searchinfo{
    display: flex;
    width: 50%;
    padding: 10px 30px 10px 30px;
}
.info-side .topbar-info .searchinfo .txtsh
{
    position: relative;
    width: 80%;
    height: auto;
}
.info-side .topbar-info .searchinfo .txtsh input{
    padding: 2px 50px 2px 10px;
    border-radius: 50px;
    width: 100%;
}
.info-side .topbar-info .searchinfo .txtsh i{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    height: 100%;
    padding: 0px 15px 0px 15px;
    background-color: #2E64FE;
    border-radius: 0px 50px 50px 0px;
    cursor: pointer;
    transition: all 0.3s;
    color: #ffff;
}
.info-side .topbar-info .searchinfo .txtsh i:hover{
    scale: calc(1.05);
}
.info-side .topbar-info .form-control:focus{
    outline: none !important;
    box-shadow: none !important;
}
.info-side .topbar-info .userinfo{
    display: flex;
    justify-content: end;
    align-items: end;
    width: 50%;
    gap: 20px;
}
.info-side .topbar-info .userinfo .box-upf{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #2E64FE;
    font-family: "Kantumruy Pro", "Mona Sans", serif;
    width: fit-content;
    gap: 5px;
    padding: 0px 20px;
    cursor: pointer;
}
.info-side .topbar-info .userinfo .box-upf .upfname{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    padding: 0;
    gap: 5px;
}
.topbar-info .userinfo .box-upf .upfname span{
    color: gray;
}
.topbar-info .userinfo .box-upf .upfname > p{
    text-align: center;
    margin: 0;
    color: #2E64FE;
}
.info-side .topbar-info .userinfo .box-upf img{
    display: flex;
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 70px;
    background-color: aliceblue;
    padding: 5px;
}
.info-side .topbar-info .userinfo .box-mail, .box-notification{
    position: relative;
    cursor: pointer;
}
.info-side .topbar-info .userinfo .box-mail i{
    font-size: 1.2rem;
    color: #2E64FE;
    transition: all 0.3s;
}
.info-side .topbar-info .userinfo .box-notification i{
    font-size: 1.2rem;
    color: #2E64FE;
    transition: all 0.3s;
}
.info-side .topbar-info .userinfo .box-mail span{
    position: absolute;
    top: -15px;
    right: -10px;
    padding: 2px;
    color: red;
    border-radius: 10px;
    font-size: 0.75rem;
}
.info-side .topbar-info .userinfo .box-notification span{
    position: absolute;
    top: -15px;
    right: -10px;
    padding: 2px;
    color: red;
    border-radius: 10px;
    font-size: 0.75rem;
}
.info-side .topbar-info .userinfo .box-notification i:hover{
    font-size: 1.3rem;
}
.info-side .topbar-info .userinfo .box-mail i:hover{
    font-size: 1.3rem;
}