*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kantumruy Pro", serif;
}
.container-fluid{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainBg-login{
    z-index: 1;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.container{
    position: absolute;
    display: flex;
    z-index: 2;
    width: 700px;
    height: 400px;
    border-radius: 10px;
    background-color: #ffffff;
    overflow: hidden;
}
.container .logo-mainlog{
   width: 45%;
   height: 100%;
   overflow: hidden;
   color: rgb(255, 255, 255);
}
.logo-mainlog > .img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 90px 0px 15px 0px;
}
.logo-mainlog > .img img{
    width: 140px;
    height: auto;
}
.logo-mainlog p{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    font-family: "Moul", serif;
  font-weight: 400;
  font-style: normal;
  color: #0404B4;
}
.container > form{
    position: relative;
    width: 55%;
    height: 100%;
    background-color: #4B088A;
    padding: 65px 20px 20px 20px;
    font-family: "Kantumruy Pro", serif;
}
.container form .name-pg{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px;
    font-family: "Kantumruy Pro", serif;
    font-size: 1rem;
    color: #ffffff;
    background-color: #2E64FE;
}
.container form .p1{
    font-family: "Kantumruy Pro", serif;
    color: #ffffff;
    margin: 0px 0px 10px 0px;
    font-size: 1.5rem;
    font-weight: 650;
}
.container form .p2{
    color: #ffffff;
    font-family: "Kantumruy Pro", serif;
    font-size: 0.9rem;
    margin: 7px 0px 0px 0px;
}
.container form .p2 > a{
    color: #ffffff;
    font-family: "Kantumruy Pro", serif;
    font-size: 0.9rem;
}
.container form input[type="email"], input[type="text"]{
    font-family: "Mona Sans", "Kantumruy Pro", serif;
    font-size: 1rem;
    padding: 0px 10px 0px 10px;
    height: 37px;
}
.container .form-control:focus{
    outline: none !important;
    box-shadow: none !important;
}
.container form .form-check{
    display: flex;
    margin: 10px 0px 10px 0px;
}
.container form .form-check .shpass{
    width: 100%;
}
.container form .form-check label{
    font-family: "Kantumruy Pro", serif;
    font-size: 0.9rem;
    color: #ffffff;
    /* width: 100%; */
}
.container form .form-check input{
    width: 15px;
    height: 15px;
    margin-top: 5px;
}
.container form button{
    font-family: "Kantumruy Pro", serif;
    font-size: 1rem;
    width: 100%;
    padding: 4px;
}
.container form .fg-pass{
    display: flex;
    justify-content: end;
    align-items: end;
    width: 100%;
    
}
form .fg-pass a{
    font-family: "Kantumruy Pro", serif;
    font-size: 0.9rem;
    color: #ffffff;
}
@media screen and (max-width: 580px) {
    .container{
        width: 350px;
    }
    .container .logo-mainlog{
        display: none;
    }
    .container form{
        width: 100%;
    }
}
/* @media screen and (max-width: 540px){
    .container .logo-mainlog .img img{
        width: 120px;
    }
    .container form .name-pg{
        font-size: 0.8rem;
    }
    .container form .p1{
        font-size: 1rem;
    }
    .logo-mainlog p{
        font-size: 0.7rem;
    }
    .container form .p2{
        font-size: 0.7rem;
    }
    .container form .p2 a{
        font-size: 0.7rem;
    }
    .container form .form-check label{
        font-size: 0.7rem;
    }
    .container form button{
        font-size: 0.9rem;
    }
    .container form .form-check{
        display: block;
    }
    .container form .form-check .fg-pass a{
        position: relative;
        display: flex;
        width: 100%;
        justify-content: start;
        align-items: start;
        text-align: start;
        font-size: 0.7rem;
        margin-left: -30px;
    }
    
} */
.container form .email, .pass{
    position: relative;
}
.container form .fb-pass, .fb-email{
    display: none;
    position: absolute;
    font-size: 0.8rem;
    right: 0;
    color: #ff7070;
}